@media screen and (min-width:200px){
    body{
        background-color: bisque;
        font-size: large;
    }
}
#links{
    border: 5px solid rgb(184, 184, 120);
    background-color: burlywood;
}
#links a{
    padding-right: 200px;
    text-align: center; 
    padding-left: 150px;
    color: beige;
}
#logo{
    color: darkcyan;
    font-size: 40px;
    text-align: center;
}
.profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}
.profile p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px ;
}
#Projects p{
    text-align: center;
    font-size: 20px;
}
#Projects a{
    text-align: center;
    padding-bottom: 50px;
    list-style-type: none;
    color: rgb(109, 66, 51);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Projects li{
    text-align: center;
    padding-bottom: 50px;
    list-style-type: none;

}
#Projects h3{
    color: darkolivegreen;
    text-align: center;
    font-size: 30px;
}
#About h3{
    text-align: center;
    font-size: 30px;
}
#About article{
    text-align: center;
}
#profile h3{
    text-align: center;
    color: darkslateblue;
}
#new{
    color: blue;
}
#About h3{
    text-align: center;
    color: burlywood;
}